.y_model {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  .y_model_mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .y_model_box {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .y_model_box_tran {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}
