.text-h1 {
  font-size: 40px;
  font-weight: 800;
  color: black;
  text-decoration: none;
}

.text-h2 {
  font-size: 30px;
  font-weight: 800;
  color: black;
  text-decoration: none;
}

.text-h3 {
  font-size: 20px;
  font-weight: 800;
  color: black;
  text-decoration: none;
}

.docs {
  font-size: 14px;
  line-height: 26px;
}

.blue-darken-3 {
  color: #1565c0;
}
