.y_list_item {
  height: 45px;
  box-sizing: border-box;
  padding: 0px 15px;
  line-height: 45px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  justify-content: space-between;
  .y_list_item_left {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
.y_list_item_active {
  background: rgba(21, 101, 192, 0.1);
  
}

.y_list_small {
  .y_list_item {
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
  }
}

.y_list_large {
  .y_list_item {
    height: 54px;
    font-size: 18px;
    line-height: 54px;
  }
}
.y_list_nav {
  .y_list_item {
    border-radius: 5px;
  }
}
